*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

table{
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
.btn-show{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  padding: 10px 0;
  cursor: pointer;
}
caption{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
}
th,
td {
  width: calc(100% / 3);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  border: 1px dotted gray;
  padding: 10px 0;
  margin: 2px;
}

td {
  font-weight: 400;
}

.row-delete{
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
	content: "▼"
}

th.sorted[data-order="1"]::after {
	content: "▲"
}
